main{
    background-color:lightgray;
    border: 2px solid black;
    padding: 10px 50px 50px 0;
    margin: 50px 200px;
}

label{
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
}

input{
    font-size: 18px;
    padding: 5px;
    width: 300px;
    margin-top: 10px;
}

button{
    font-size: 18px;
    padding: 5px 15px;
    margin-top: 10px;
    cursor: pointer;
}

select{
    font-size: 18px;
    padding: 5px;
    margin-top: 10px;
}

p{
    margin-top: 10px;
    font-size: 18px;
}


.hidden{
    display: none;
}

#displayArea{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}