main {
    background-color: #f4f4f4;
    border: 3px solid #333;
    border-radius: 10px;
    padding: 20px 50px;
    margin: 50px auto;
    width: 60%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
}

label{
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
}

input{
    font-size: 18px;
    padding: 5px;
    width: 300px;
    margin-top: 10px;
}

button{
    font-size: 18px;
    padding: 5px 15px;
    margin-top: 10px;
    cursor: pointer;
}

select{
    font-size: 18px;
    padding: 5px;
    margin-top: 10px;
}

p{
    margin-top: 10px;
    font-size: 18px;
}


.hidden{
    display: none;
}

#displayArea{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}